.row{
    max-width: 80%;
    gap: 50px
}

.col{
    min-width: 40vw;
    height:90vh;
}

.column{
    max-width: 33%;
    height:auto;
}

@media screen and (max-width: 900px) {
    .row{
        max-width: 100%;
        gap: 10px;
    }
    .col{
        min-width: 40vw;
        height:auto;
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .column{
        max-width: 100%;
        height:auto;
    }
  }